.div {
    display: flex;
    gap: 20px;
    background-color: orange;
    height: 100PX;
    border-radius: 20px;
}
button {
    height : 20px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
}
.yooo {
    margin-top: 100px;
    background-color: black;
    color: white;
    height: 100px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    padding-left: 20px; 
}
